src/main/mule/implementation/db-orchestrator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="db-orchestrator-select" doc:id="3a308e1b-e14f-43e6-bac3-1d2d40dfa0ec" >
		<until-successful maxRetries="${untilSuccessful.maxRetries}" doc:name="Until Successful" doc:id="01f1daa8-eaf0-42ab-af7d-7ce688eccf0f" >
			<db:select doc:name="Select" doc:id="22d2efdb-3cd3-4ffb-8cec-82fdf1e99028" config-ref="Database_Config" >
				<db:sql ><![CDATA[#[payload]]]></db:sql>
			</db:select>
		</until-successful>
	</flow>
	<flow name="db-orchestrator-insert" doc:id="de8676ab-f65b-4eb4-bbbe-59015c2f1246" >
		<until-successful maxRetries="${untilSuccessful.maxRetries}" doc:name="Until Successful" doc:id="33812b51-efe3-4fac-ac30-1cd0160145ee" >
			<db:insert doc:name="Insert" doc:id="dc7d6420-ca13-4d78-bf59-9cc8cb262664" config-ref="Database_Config">
				<db:sql ><![CDATA[#[payload]]]></db:sql>
			</db:insert>
		</until-successful>
	</flow>
</mule>
